.button{
    width: 100px;
    height: 40px;
    padding: 12px, 15px, 12px, 15px;
    border-radius: 10px;
    gap: 10px;
    color: #FFFFFF;
    background-color: rgb(176, 20, 204);
    float:right;
    border: none;
  }
// th {
//     background-color: rgb(176, 20, 204);
// }